@model List<Customer>
@{
    Layout = "_SignUpLayout";

}

<div class="row g-3 mb-4">
    <div class="col-md-6">
        @foreach (var i in Model)
        {

            <div class="card-address p-3">
                <input type="checkbox" name="address" id="address1" class="form-check-input" >
                <label for="address1" class="form-check-label">
                    <strong>@i.CustName,@i.Street,@i.City</strong>
                    <p></p>
                </label>
                <div class="address-action-buttons">
                    <button class="btn btn-outline-dark ">
                        <i class="bi bi-pencil"></i> Edit
                    </button>
                    <button class="btn btn-outline-danger ">
                        <i class="bi bi-trash"></i> Delete
                    </button>
                </div>
            </div>
        }
    </div>

    <!-- =============================== Existing Addresses ================================= -->
    <a class="btn btn-dark w-100 mb-4" href="/home/Payment_Method">Deliver Here</a>

    <!-- ============== Add a new address form ============================== -->
</div>