  <div class="container">
        <div class="row gy-3 gy-md-4 gy-lg-4 ">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="fw-bold text-dark fs-3 mt-4">
                    Forgot Password
                </h2>
                <p class="text-secondary fs-5 mt-1 fw-normal">
                    Enter your registered email address. we’ll send you a code to reset your password.
                </p>
    
                <form action="" method="post">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="mb-4">
                                <label for="email" class="form-label text-dark">Email address</label>
                                <input type="email" class="form-control rounded-3 shadow-sm" id="email" placeholder="name@example.com">
                            </div>
                        
    
                            <div class="mt-4">
                                <a  class="btn btn-dark rounded-3 px-4 shadow-sm w-100 p-2" href="account/signup">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="../assets/image/Forgot Password.png" alt="Login Image" class="img-fluid rounded">
            </div>
        </div>
    </div>
    