       
<div class="container my-5">
    <div class="row">
        <!-- Left: Review Section -->
        <div class="col-lg-8">
            <h2>Review Your Order</h2>
            <div class="d-flex align-items-center mb-4">
                <div class="step-icon">
                    <i class="bi bi-house-door"></i>
                </div>
                <div class="px-2">Address</div>
                <hr class="flex-grow-1 mx-2">
                <div class="step-icon">
                    <i class="bi bi-credit-card"></i>
                </div>
                <div class="px-2">Payment Method</div>
                <hr class="flex-grow-1 mx-2">
                <div class="step-icon">
                    <i class="bi bi-check-circle"></i>
                </div>
                <div class="px-2">Review</div>
            </div>

            <p class="fw-bold">Estimated delivery: 22 Feb 2022</p>

            <ul class="list-group">
                <!-- Product 1 -->
                <li class="list-group-item">
                    <div class="d-flex">
                        <img src="/images/burgundy_wrap_dress.jpg" alt="Product 1" width="50" height="50">
                        <div class="ms-3">
                            <p>Girls Pink Moana Printed Dress</p>
                            <span>$80.00</span>
                            <p>Size: S</p>
                        </div>
                    </div>
                </li>

                <!-- Product 2 -->
                <li class="list-group-item">
                    <div class="d-flex">
                        <img src="~/images/Formal_Dresses_for_Wedding_Guest.jpg" alt="Product 2" width="50" height="50">
                        <div class="ms-3">
                            <p>Women Textured Handheld Bag</p>
                            <span>$80.00</span>
                            <p>Size: Regular</p>
                        </div>
                    </div>
                </li>

                <!-- Product 3 -->
                <li class="list-group-item">
                    <div class="d-flex">
                        <img src="~/images/Mobaco Men Regular Fit Polo Shirt SO100.jpg" alt="Product 3" width="50" height="50">
                        <div class="ms-3">
                            <p>Tailored Cotton Casual Shirt</p>
                            <span>$40.00</span>
                            <p>Size: M</p>
                        </div>
                    </div>
                </li>
            </ul>

           
        </div>

        <!-- Right: Summary Section -->
        <div class="col-lg-4">
            <div class="summary-box">
                <ul class="list-group list-group-flush">
                    <!-- Subtotal -->
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Subtotal</span>
                        <span>$200.00</span>
                    </li>

                    <!-- Discount Code -->
                                      

                    <!-- Delivery Charge -->
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Delivery Charge</span>
                        <span>$5.00</span>
                    </li>

                    <!-- Grand Total -->
                    <li class="list-group-item d-flex justify-content-between fw-bold">
                        <span>Grand Total</span>
                        <span>$205.00</span>
                    </li>
                </ul>

                <!-- Checkout Button -->

                    <a class="btn btn-dark mt-3 w-100" href="shipping_address"  >
                        Place Order
                    </a>
                
            </div>
        </div>
    </div>
</div>
